<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Curso de Vue.js</title>
    </head>
    <body>
        <div id="app">
            <input type="text" name="nombre" placeholder="Ingresa tu nombre" v-model="nombre">
            <p>Tu nombre en mayúsculas es: {{ nombre | uppercase }} </p>
        <form @submit.prevent="submit" action="" method="get" accept-charset="utf-8">    
            <h2>¿Cuáles son tus cursos favoritos?</h2>
            <input v-model="cursos" type="checkbox" id="vue" value="vue">
            <label for="vue">Curso de VueJS</label>
            <input v-model="cursos" type="checkbox" id="seo" value="seo">
            <label for="seo">Curso de Seo</label>
            <input v-model="cursos" type="checkbox" id="react" value="react">
            <label for="react">Curso de react</label>
            <input v-model="cursos" type="checkbox" id="growth" value="growth">
            <label for="growth">Curso de Growth</label>
            <button type="submit">Enviar</button> 
        </form>
    </div>
    <script src="http://unpkg.com/vue"></script>
       <script type= "text/javascript">
           let app = new Vue({
               el: '#app',
               data: {
                   nombre: '',
                   cursos: []
                   },
               filters:{
                   uppercase: function(str){
                       return str.toUpperCase()
                   }
               },
               methods:{
                   submit: function(){
                       console.log('Se ejecuta el método submit')
                       console.log(this.cursos)
                   }
               }

           })
       </script>
    </body>
</html>
