<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Curso de Vue.js</title>
    </head>
    <body>
        <div id="app">
        <form @submit.prevent="submit" action="" method="get" accept-charset="utf-8">    
            <h2>¿Cuáles son tus cursos favoritos?</h2>
            <template v-for="curso in cursos">
                <input v-model="cursosSeleccionados" type="checkbox"
                v-bind:id="curso.value" v-bind:value="curso.value">

                <label v-bind:for="curso.value">{{ curso.nombre  }}</label>
            
            </template>
            <button type="submit">Enviar</button> 
        </form>
    </div>
    <script src="http://unpkg.com/vue"></script>
       <script type= "text/javascript">
           let app = new Vue({
               el: '#app',
               data: {
                   cursos: [
                       { nombre: 'Curso de Introducción a Vue.js',
                           value: 'vue' },
                       { nombre: 'Curso de SEO',
                           value: 'seo' },
                       { nombre: 'Curso de React y Redis',
                           value: 'react'},
                       { nombre: 'Curso de Growth Marketing',
                           value: 'growth' }                         
                   ],
                   cursosSeleccionados: []
                   },
              methods:{
                   submit: function(){
                       console.log('Se ejecuta el método submit')
                       console.log(this.cursosSeleccionados)
                   }
               }

           })
       </script>
    </body>
</html>
